body{
    font-family: Arial, sans-serif;
    background-image: url('Imagenes/Fondo de pantalla porsche.jpg');
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}



.form-container {
    background: #1616156b;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(238, 247, 161, 0.678);
    max-width: 500px;
    width: 120%;
    filter: blur (5px);
    
}



label {
    display: block;
    margin-bottom: 8px;
    color: #e9ece4;
}

input[type="radio"] {
    margin-right: 10px;
}


input[type="submit"] {
    width: 50%;
    padding: 10px;
    background-color: #f5f10f;
    border: none;
    border-radius: 4px;
    color: rgb(245, 244, 239);
    font-size: 16px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #42e442;
}

input[type="text"]{
    width: 70%;
    padding: 30px;
    background-color: rgba(49, 49, 49, 0.164);
    color: rgb(245, 244, 239);
    box-shadow: rgba(211, 209, 209, 0.555);
}
